<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date createdAt}}</p>
  <form class="form new-comment-form">
    <input class="form-input" type="text" id="comment-name" name="comment-name">
    <button type="submit" class="btn btn-primary comment-btn">Comment </button>
  </form>
</div>
